.navbar {
  width: 100%;
  height: 90px;
  color: #fff;
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.5);
  transition: all 0.4s ease-in-out;
  z-index: 1;

  &.active {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #644222;
  }

  .container {
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    .logo {
      a {
        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h2 {
            font-size: 25px;
          }

          span {
            font-size: 13px;
            opacity: 0.8;
          }
        }
      }
    }

    ul {
      list-style: none;
      display: flex;

      .top {
        display: none;

        .close {
          background-color: #644222;
        }
      }

      li {
        font-size: 18px;
        font-weight: bold;
        margin-right: 30px;
        transition: all 0.3s ease;
        border-bottom: 2px solid rgba($color: #000000, $alpha: 0);

        &:hover {
          cursor: pointer;
          border-bottom: 2px solid #fff;
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      .active {
        border-bottom: 2px solid #fff;
      }
    }

    .bookNow {
      border: none;
      outline: none;
      background-color: #9a7a5c;
      padding: 15px 40px;
      font-size: 18px;
      color: white;
    }

    .menu {
      display: none;
      border: 1px solid white;
      align-items: center;
      justify-content: center;
      padding: 10px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    .container {
      width: 90%;
      margin: auto;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .container {
      ul {
        width: 250px;
        height: 100vh;
        background-color: #fff;
        color: rgba($color: #000000, $alpha: 0.6);
        padding: 20px;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -350px;
        transition: all 0.6s ease-in-out;

        li {
          border-bottom: 1px solid #644222;
          width: 100%;
          padding-bottom: 10px;
        }

        &.active {
          right: 0;
        }

        .top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;

          .close {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #644222;
            color: white;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
      .bookNow {
        display: none;
      }

      .menu {
        display: flex;
      }
    }
  }
}
