.rooms {
  .top {
    height: 500px;
    background-image: url('/images/slider-bg-1.png');
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      width: 60%;
      color: #fff;
      font-size: 40px;
      text-align: center;
    }
  }
}
